---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels: {{- include "slinky.labels" . | nindent 4 }}
    app: web
spec:
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: "{{ .Values.image.web.name }}:{{ default .Chart.AppVersion .Values.image.web.tag }}"
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-configmap
        ports:
        - containerPort: {{ .Values.port.web }}
---
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: web
    port: {{ .Values.port.web }}
    targetPort: {{ .Values.port.web }}
  selector:
    app: web
